/** =LARGE SQUARE BUTTON STYLE
----------------------------------------------- */
button.rect.large,
button[disabled].rect.large:hover {
    font-size: .76em;
    padding: 0 14px 0 0;
	background-image: url(../img/button-rect-large.png); 
}

button.rect.large span,
button[disabled].rect.large:hover span {
	height: 15px; 
	line-height: 15px;
	padding: 5px 0 5px 15px;
	background-image: url(../img/button-rect-large.png);
}

button.rect.large:hover {
	background-image: url(../img/button-rect-large.png); 
}

button.rect.large:hover span {
	background-image: url(../img/button-rect-large.png); 
}

button.rect.large:active {
	background-image: url(../img/button-rect-large.png);
}

button.rect.large:active span {
	background-image: url(../img/button-rect-large.png); 
}